.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-container{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

.weather-container > div {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.weather {
    align-items: center;
}